.root{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    background-color: #00d4bc;
    color: #fffcc9;
    font-weight: bold;
    border-color: #00eabb;
}

.root:hover{
    width: 70px;
    height: 70px;
    border: 1px solid black;
    font-size: 40px;
    text-align: center;
    background-color: #059c8b ;
    border-color: #fffcc9;
}