body {
  background-color: #00eabb;
}

h1, h2, h3, h4, h5, h6{
  color: #fffcc9;
}

.btn-warning{
  background-color: #00d4bc;
  border-color: #059c8b;
  color: #fffcc9;
  width: 100% !important;
}

.btn-warning:hover{
  background-color: #03e6cb;
  border-color: #01c7b0;
  color: #fffcc9;
}
p{
  color: #019180;
}